<!doctype html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Home</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style-starter.css">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">

<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">


    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="{% url 'index' %}">Dashboard</a>
        </li>
            <li><a href="{% url 'member' %}">Member List</a> </li>
            <li><a href="{% url 'tags' %}">Tags</a> </li>
            <li><a href="{% url 'data_source' %}">Data Source</a></li>
            <li><a href="{% url 'diagram' %}">Diagram</a></li>
      </ul>
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

        <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="#search-results.html" method="get">
            <input class="search-input" placeholder="Search Here..." type="search" id="search">
            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
          </form>
        </div>
        <div class="user-dropdown-details d-flex">
          <h5 class="user-name"></h5>
          <li class="logout">{{username}}<a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a> </li>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
  <!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-primary"></span>, Welcome back</h1>
      <p>Very detailed & featured admin.</p>
    </div>

    <!-- statistics data -->
    <div class="statistics">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <h3 class="text-primary number">{{ membNum }}</h3>
                <p class="stat-text">Total Memberers</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <h3 class="text-secondary number">{{ diaNum }}</h3>
                <p class="stat-text">Total diagram</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <h3 class="text-success number">{{ tagNum }}</h3>
                <p class="stat-text">Tags</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <h3 class="text-danger number">{{ totalVisit }}</h3>
                <p class="stat-text">Visit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //statistics data -->

    <!-- charts -->
    <div class="chart">
      <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Hottest diagram
            </div>
            <div class="card-body">
              <!-- bar chart -->

                <div id="container" style="height: 400%" ></div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              <a href="{% url 'diagram_detail' hid %}">details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Latest diagram
            </div>
            <div class="card-body">
              <!-- line chart -->

                <div id="container2" style="height: 400%"></div>
              <!-- //line chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              <a href="{% url 'diagram_detail' nid %}">details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //charts -->
  </div>
  <!-- //content -->
</div>
<!-- main content end-->
</section>
  <!--footer section start-->
<footer class="dashboard">
  <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    xAxis: {
        type: 'category',
        data: [
            {% for b in hyear %}
                "{{ b }}",
            {% endfor %}
        ]
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [
            {% for b in htemp %}
                "{{ b }}",
            {% endfor %}
        ],
        type: 'line',
        smooth: true
    }]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>
<script type="text/javascript">
    var dom = document.getElementById("container2");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    xAxis: {
        type: 'category',
        data: [
            {% for b in nyear %}
                "{{ b }}",
            {% endfor %}
        ]
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [
            {% for b in ntemp %}
                "{{ b }}",
            {% endfor %}
        ],
        type: 'line',
        smooth: true
    }]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>
<script type="text/javascript">
        function show_div() {
            document.getElementById("div_edit_module").style.display = "block";
        }
    </script>
    <style type="text/css">








</body>

</html>